ul{
	li{
		list-style:none;
		color:white;
		&:hover{
			color:red;
		}
		
	}
}


// section padding
.section-padding{
	padding:$section-padding;
}

// .btn{
// 	margin:$button-margin;

// }

.button-s{
	border: 2px solid black;
	margin:$button-margin;
	
}
.service__heading{
	margin:50px;
}